{% extends 'site_base.html' %}

{% block title %}{{ league.abbreviated_name }} {% block page %}{% endblock %}{% endblock %}

{% block content %}
  <div class="container profile">

    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center mb20">{{ league.name }}</h3>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <div role="navigation">
          {% url 'leagues:schedule' slug=league.slug as schedule_link %}
          {% url 'leagues:divisions' slug=league.slug as divisions_link %}
          <ul class="nav nav-pills nav-justified nav-bordered" role="tablist">
            {% include 'profile_nav_tabs/_schedule_nav_tab.html' %}
            {% include 'seasons/_divisions_nav_tab.html' with link_text="Divisions Archive" %}
            {% include 'profile_nav_tabs/_past_seasons_nav_tab.html' with profile_type='league' %}
          </ul>
        </div>

        <div class="tab-content mt30">
          {% block tab_content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
