{% extends 'site_base.html' %}

{% block title %}{% block page %}{% endblock %} {{ league.abbreviated_name }}{% endblock %}

{% block content %}
  <div class="container profile">

    <div class="row">
      <div class="col-md-12">
        <h3 class="text-center mb20">{{ league.name }}</h3>
      </div>
    </div>

    {% if season and season.expired %}
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <div class="alert alert-warning text-center" role="alert">
            This season has been archived.
            <br>
            {% block current_season_page_text %}{% endblock %} <a class="alert-link" href="{{ current_season_page_url }}">here</a>.
          </div>
        </div>
      </div>
    {% endif %}

    <div class="row">
      <div class="col-md-12">

        <div role="navigation">
          <ul class="nav nav-pills nav-justified nav-bordered" role="tablist">
            {% include 'profile_nav_tabs/_schedule_nav_tab.html' %}
            {% include 'leagues/_divisions_nav_tab.html' %}
            {% include 'profile_nav_tabs/_past_seasons_nav_tab.html' with profile_type='league' %}
          </ul>
        </div>

        <div class="tab-content mt30">
          {% block tab_content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
