{% load waffle_tags %}

{# User profile update view won't set user_obj #}
{% if not user_obj or user_obj == request.user %}
  {% switch 'sport_registrations' %}
    <div class="row">
      <div class="col-md-12">
        <a
          id="register_for_sport_btn"
          href="{% url 'sports:register' %}"
          class="btn btn-default btn-sm mb10 pull-right"
        >Register for a sport
        </a>
      </div>
    </div>
  {% endswitch %}
{% endif %}

<div class="row">
  <div class="col-md-12">
    {% if sport_registration_data_by_sport %}
      <ul class="list-group">
        {% for sport, data in sport_registration_data_by_sport.items %}
          <li
            id="list-item-{{ sport.slug }}"
            class="list-group-item list-group-item__hoverable"
            data-target="#{{ sport.slug }}"
            data-toggle="collapse"
          >
            {{ sport.name }}{% if data.roles %}:{% endif %}
            {% for role in data.roles %}
              <span class="label label-info">{{ role|title }}</span>
            {% endfor %}
            <i class="fa fa-caret-down mt3 pull-right" data-toggle="caret"></i>
          </li>
          <div class="collapse" id="{{ sport.slug }}">
            <div class="list-group-item list-group-item__flush-bottom">
              {% if data.roles %}
                <h4 class="text-center">At a glance</h4>
                {% for role, objects in data.roles.items %}
                  <div class="role-related-objects-section">
                    <strong>{{ role|title }}:</strong>
                    {% for object in objects %}
                      <div>
                        {% if role == 'referee' %}
                          {{ object.league.name }}
                        {% elif role == 'scorekeeper' %}
                          {{ object.sport.name }}
                        {% elif role == 'organization' %}
                          {{ object.name }}
                        {% else %}
                          {{ object.team.name }} - {{ object.team.division.name }}
                        {% endif %}
                      </div>
                    {% empty %}
                      <div>N/A</div>
                    {% endfor %}
                  </div>
                {% endfor %}
              {% else %}
              {% endif %}
            </div>
          </div>
        {% endfor %}
      </ul>
    {% elif not user_obj or user_obj == request.user %}
      {% include 'includes/_data_missing_message.html' with message='You are not registered for any sports.' %}
    {% else %}
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <div class="text-center">
            <div class="alert alert-danger" role="alert">
              <p>{{ user_obj.get_full_name }} is not registered for any sports at this time.</p>
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
</div>
