{% extends 'site_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Profile{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h2>Create Your Profile</h2>
                    <p>You will fill out your team and any role specific information in the next step</p>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
                <form action="" method="post">
                    {% csrf_token %}
                    {% crispy form %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
