{% extends 'site_base.html' %}
{% load crispy_forms_tags static %}

{% block title %}My Account{% endblock %}


{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">

        <ul class="nav nav-tabs nav-justified mt20" role="tablist">
          <li role="presentation" class="{% if active_tab == 'my_account' %}active{% endif %}">
            <a href="#my_account" role="tab" data-toggle="tab" class="nav-tab" data-tab="my_account">
              <i class="fa fa-fw fa-user"></i>&nbsp;My Account
            </a>
          </li>
          <li role="presentation" class="{% if active_tab == 'my_sports' %}active{% endif %}">
            <a
              href="#my_sport_registrations"
              role="tab"
              data-toggle="tab"
              class="nav-tab"
              id="my-sports-tab"
              data-tab="my_sports"
            >
              <i class="fa fa-fw fa-list"></i>&nbsp;My Sports
            </a>
          </li>
        </ul>

        <div class="tab-content">
          {# My account tab #}
          <div role="tabpanel" class="tab-pane {% if active_tab == 'my_account' %}active{% endif %}" id="my_account">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="text-center">
                  <h1 class="panel-title">Account Information</h1>
                </div>
              </div>
              <div class="panel-body">
                <h4>Name: {{ user.get_full_name }}</h4>
                <h4>Email: {{ user.email }}</h4>
                <h4>Gender: {{ userprofile.get_gender_display }}</h4>
                <h4>Birthday: {{ userprofile.birthday }}</h4>
                <p>
                  <a id="change_password_link" href="{% url 'account_change_password' %}">Change Password</a>
                </p>
                <form action="" method="post">
                  {% csrf_token %}
                  {{ form | crispy }}
                  <br>
                  <div class="text-center">
                    <button id="update_userprofile_btn" class="btn btn-success" type="submit">Update</button>
                  </div>
                  <br>
                </form>
              </div>
            </div>
          </div>
          {# End my account tab #}

          {# My sports tab #}
          <div
            role="tabpanel"
            class="tab-pane {% if active_tab == 'my_sports' %}active{% endif %}"
            id="my_sport_registrations"
          >
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="text-center">
                  <h1 class="panel-title">Sport Registration Information</h1>
                </div>
              </div>
              <div class="panel-body">
                <a
                  id="register_for_sport_btn"
                  href="{% url 'sports:register' %}"
                  class="btn btn-default btn-sm pull-right"
                >Register for a sport
                </a>
                <br><br>
                {% if data %}
                  <ul class="list-group">
                    {% for sport, data_dict in data.items %}
                      <li
                        id="list-item-{{ sport.slug }}"
                        class="list-group-item list-group-item-hoverable js-list-item-sport"
                        data-target="#{{ sport.slug }}"
                        data-toggle="collapse"
                      >
                        {{ sport.name }}{% if data_dict.roles %}:{% endif %}
                        {% for role in data_dict.roles %}
                          <span class="label label-info">{{ role }}</span>
                        {% endfor %}
                        <i class="fa fa-caret-down mt3 pull-right js-toggle-caret"></i>
                      </li>
                      <div class="collapse" id="{{ sport.slug }}">
                        <div class="list-group-item list-group-item-flush-bottom">
                          {% if data_dict.related_objects %}
                            <h4 class="text-center">At a glance</h4>
                            {% for role, objects in data_dict.related_objects.items %}
                              <div class="role-related-objects-section">
                                <strong>{{ role|title }}:</strong>
                                {% for object in objects %}
                                  <div>
                                    {% if role == 'referee' %}
                                      {{ object.league }}
                                    {% elif role == 'scorekeeper' %}
                                      {{ object.sport.name }}
                                    {% else %}
                                      {{ object.team }} - {{ object.team.division.name }}
                                    {% endif %}
                                  </div>
                                {% endfor %}
                              </div>
                            {% endfor %}
                          {% else %}
                          {% endif %}
                        </div>
                      </div>
                    {% endfor %}
                  </ul>
                {% else %}
                  <div class="alert alert-warning mt10" role="alert">
                    <p class="text-center">
                      You are not currently registered for any sports.
                    </p>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          {# End my sports tab #}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    $(function () {
      $('#id_language').enableBootstrapSelect({ header: 'Select a language' });
      $('#id_timezone').enableBootstrapSelect({ header: 'Select a timezone' });

      $('.js-list-item-sport').click(function () {
        var $elem = $(this).find('.js-toggle-caret');
        $elem.toggleClass('fa-caret-down fa-caret-up');
      });
    });

  </script>
{% endblock %}
