{% extends 'site_base.html' %}
{% load crispy_forms_tags utils %}

{% block title %}My Account{% endblock %}


{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-sm-offset-3 col-sm-6">

        <ul class="nav nav-tabs nav-justified mt20 mb20" role="tablist">
          <li role="presentation" class="{% get_tab_active_class 'my_account' %}">
            <a href="#my_account" role="tab" data-toggle="tab" class="nav-tab" data-tab="my_account">
              <i class="fa fa-fw fa-user"></i>&nbsp;My Account
            </a>
          </li>
          <li role="presentation" class="{% get_tab_active_class 'my_sports' %}">
            <a
              href="#my_sport_registrations"
              role="tab"
              data-toggle="tab"
              class="nav-tab"
              id="my-sports-tab"
              data-tab="my_sports"
            >
              <i class="fa fa-fw fa-list"></i>&nbsp;My Sports
            </a>
          </li>
        </ul>

        <div class="tab-content">
          {# My account tab #}
          <div role="tabpanel" class="tab-pane {% get_tab_active_class 'my_account' %}" id="my_account">
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="text-center">
                  <h1 class="panel-title">Account Information</h1>
                </div>
              </div>
              <div class="panel-body">
                <h4>Name: {{ user.get_full_name }}</h4>
                <h4>Email: {{ user.email }}</h4>
                <h4>Gender: {{ userprofile.get_gender_display }}</h4>
                <h4>Birthday: {{ userprofile.birthday }}</h4>
                <form action="" method="post">
                  {% csrf_token %}
                  {{ form | crispy }}
                  <br>
                  <div class="text-center">
                    <button id="update_userprofile_btn" class="btn btn-success" type="submit">Update</button>
                  </div>
                  <br>
                </form>
              </div>
            </div>
          </div>
          {# End my account tab #}

          {# My sports tab #}
          <div
            role="tabpanel"
            class="tab-pane {% get_tab_active_class 'my_sports' %}"
            id="my_sport_registrations"
          >
            <div class="panel panel-primary">
              <div class="panel-heading">
                <div class="text-center">
                  <h1 class="panel-title">Sport Registration Information</h1>
                </div>
              </div>
              <div class="panel-body">
                {% include 'userprofiles/_sport_registration_info.html' %}
              </div>
            </div>
          </div>
          {# End my sports tab #}
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  <script>
    $(function () {
      $('#id_language').enableBootstrapSelect({ header: 'Select a language' });
      $('#id_timezone').enableBootstrapSelect({ header: 'Select a timezone' });
    });
  </script>
{% endblock %}
