<div>
  <table class="table responsive-table table-thin-th-border">

    <thead>
    <tr>
      <th scope="col">League</th>
    </tr>
    </thead>

    <tbody>
    {% for referee in referees %}
      <tr>
        <td data-title="League">
          {% with league=referee.league %}
            {% include 'includes/league_logo.html' with league=league %}
            <a href="{% url 'leagues:schedule' slug=league.slug %}">{{ league.name }}</a>
          {% endwith %}
        </td>
      </tr>
    {% endfor %}
    </tbody>

  </table>
</div>
