{% extends 'site_base.html' %}
{% load bootstrap %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h3>Account details</h3>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
                <div class="text-center">
                    <br>
                    <h4>{{ user.get_full_name }}</h4>
                    <h4>{{ user.email }}</h4>
                    <br>
                    <a id="change_password_btn" class="btn btn-success btn-sm" href="{% url 'account_change_password' %}">Change Your Password</a>
                    {{ form | bootstrap }}
                </div>
            </div>
        </div>

    </div>
{% endblock %}
