{% extends "site_base.html" %}
{% load i18n %}
{% load account %}

{% block title %}Confirm E-mail{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    {% if request.user.is_anonymous %}
                        <br>
                        <h1>{% trans "Confirm E-mail Address" %}</h1>
                        <br>
                        {% if confirmation %}
                            {% user_display confirmation.email_address.user as user_display %}
                            <p>
                                {% blocktrans with confirmation.email_address.email as email %}
                                    You can confirm {{ email }} by clicking the button below
                                {% endblocktrans %}
                            </p>
                            <br>
                            <form method="post" action="{% url 'account_confirm_email' confirmation.key %}">
                                {% csrf_token %}
                                <button class="btn btn-primary" id="confirm_email_btn"
                                        type="submit">{% trans 'Confirm' %}</button>
                            </form>
                        {% else %}
                            {% url 'account_email' as email_url %}
                            <br>
                            <p>
                                {% blocktrans %}
                                    This confirmation link has expired or is invalid
                                    <br>
                                    Please request a new confirmation link through the form below
                                {% endblocktrans %}
                            </p>
                            <br>
                            <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
                                <form method="post" action="{% url 'account_new_email_confirmation' %}">
                                    {% csrf_token %}
                                    <input name="request_path" type="hidden" value="{{ request.path }}">
                                    <div class="form-group">
                                        <label for="new_email_confirmation" class="control-label">Email Address<span class="asteriskField">*</span></label>
                                        <input class="form-control" id="new_email_confirmation" type="email"
                                               name="email" autofocus required>
                                    </div>
                                    <br>
                                    <button id="request_new_confirmation_email" class="btn btn-primary">Request new confirmation email</button>
                                </form>
                            </div>
                        {% endif %}
                    {% else %}
                        <br><br><br>
                        <h3>You have already authenticated your e-mail address</h3>
                        <br>
                        <a href="{% url 'home' %}" class="btn btn-primary">Home</a>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
