{% extends "site_base.html" %}

{% block title %}
    {% if user.is_authenticated %}
        Already Logged In
    {% else %}
        Password Successfully Reset
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    {% if user.is_authenticated %}
                        <h1>Already Logged In</h1>
                        <br>
                        <p>You can manage your account, including changing your password <a
                                href="{% url 'account_home' %}">here.</a></p>
                    {% else %}
                        <h1>Password Successfully Reset</h1>
                        <br>
                        <p><a href="{% url 'account_login' %}">Login</a> to access your account.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
