{% extends "site_base.html" %}
{% load i18n %}
{% load crispy_forms_tags %}

{% block title %}Set Password{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
        <h1 class="text-center">{% trans "Set Password" %}</h1>
        <br>
        <form method="POST" action="{% url 'account_set_password' %}">
          {% csrf_token %}
          {{ form | crispy }}
          <input type="submit" class="btn btn-primary" name="action" value="{% trans 'Set Password' %}"/>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
