<div class="modal fade" tabindex="-1" role="dialog" id="password_guidelines">
  <div class="modal-dialog">
    <br><br><br>
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Password Guidelines</h4>
      </div>
      <div class="modal-body">
        <ul class="list-unstyled">
          {% for help_text in form.password_validator_help_text %}
            <li>{{ help_text }}</li>
          {% endfor %}
        </ul>
        {% if show_password_reset %}
          <br>
          <p class="text-muted">Not jogging your memory?<br>
            <a href="{% url 'account_reset_password' %}">Request a password reset link</a>
          </p>
        {% endif %}
      </div>
    </div>
  </div>
</div>
