{% extends "site_base.html" %}
{% load i18n %}
{% load bootstrap %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
                <h1 class="text-center">{% trans "Change Password" %}</h1>
                <br>
                <form method="POST" action="{% url 'account_change_password' %}">
                    {% csrf_token %}
                    {{ form | bootstrap }}
                    <input id="change_password_btn" type="submit" class="btn btn-primary btn-sm" value="{% trans 'Change Password' %}"/>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
