{% extends "site_base.html" %}
{% load crispy_forms_tags i18n %}

{% block title %}Change Password{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
                <h1 class="text-center">{% trans "Change Password" %}</h1>
                <br>
                <br>
                <form method="POST" action="{% url 'account_change_password' %}">
                    {% csrf_token %}
                    {{ form | crispy }}
                    <br>
                    <div class="text-center">
                        <input id="change_password_btn" type="submit" class="btn btn-primary"
                               value="{% trans 'Change password' %}"/>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
