{% extends "site_base.html" %}
{% load i18n %}
{% load account %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">

                    <h1>{% trans "Password Reset" %}</h1>

                    {% if user.is_authenticated %}
                        <br>
                        {% include "account/snippets/already_logged_in.html" %}
                        <p>You are already logged in, please use this <a
                                href="{% url 'account_change_password' %}">form</a> to reset your password</p>
                    {% else %}
                        <p>{% blocktrans %}You will receive an email with instructions on how to reset your password in a few minutes{% endblocktrans %}</p>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>
{% endblock %}
