{% extends "site_base.html" %}
{% load i18n %}
{% load account %}
{% load bootstrap %}

{% block title %}Password Reset{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
                <br>
                <h1 class="text-center">{% trans "Password Reset" %}</h1>
                {% if user.is_authenticated %}
                    <br>
                    <p class="text-muted text-center">You are already logged in, please use this <a href="{% url 'account_change_password' %}">form</a> to reset your password</p>
                {% else %}
                    <p class="text-center">{% trans "Enter your e-mail address below and we will send you an e-mail with a password reset link" %}</p>
                    <br>
                    <form method="POST" action="{% url 'account_reset_password' %}" class="password_reset">
                        {% csrf_token %}
                        {{ form | bootstrap }}
                        <input id="password_reset_btn" type="submit" class="btn btn-primary btn-sm" value="{% trans 'Reset My Password' %}"/>
                    </form>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}
