{% extends "users/user_detail_base.html" %}
{% load crispy_forms_tags %}
{% load get_tab_active_class from utils %}

{% block title %}Change Password{% endblock %}

{% block tab_content %}
  <div role="tabpanel" class="tab-pane {% get_tab_active_class 'change-password' %}" id="change-password">
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <form method="POST" action="{% url 'account_change_password' %}">
          {% csrf_token %}
          {% crispy form %}
        </form>
        {% include 'account/password_guidelines_modal.html' with show_password_reset=False %}
      </div>
    </div>
  </div>
{% endblock %}
