{% extends "site_base.html" %}
{% load account crispy_forms_tags %}

{% block title %}Forgot Password?{% endblock %}

{% block content %}
  <div class="container" >

    <div class="row" >
      <div class="col-sm-12" >
        <br >
        <h1 class="text-center" >Forgot Password?</h1 >
        {% if user.is_authenticated %}
          <br >
          <p class="text-center" >You are already logged in, click <a
                  href="{% url 'account_change_password' %}" >here</a > to change your password.</p >
        {% else %}
          <p class="text-center" >An e-mail containing a password reset link will be sent to the e-mail address
                                  specified below.</p >
          <br >
        {% endif %}
      </div >
    </div >

    {% if not user.is_authenticated %}
      <div class="row" >
        <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4" >
          <form method="POST" action="{% url 'account_reset_password' %}" >
            {% csrf_token %}
            {{ form | crispy }}
            <br >
            <div class="text-center" >
              <input id="password_reset_btn" type="submit" class="btn btn-success"
                     value="Request reset link" />
            </div >
          </form >
        </div >
      </div >
    {% endif %}

  </div >
{% endblock %}
