{% extends "site_base.html" %}
{% load crispy_forms_tags %}

{% block title %}
    {% if user.is_authenticated %}
        Already Logged In
    {% else %}
        Reset Your Password
    {% endif %}
{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            {% if token_fail or user.is_authenticated %}
                <div class="col-sm-12">
                    <div class="text-center">
                        <h1>{% if user.is_authenticated %}Already Logged In{% else %}Invalid Link{% endif %}</h1>
                        <br>
                        {% if user.is_authenticated %}
                            <p class="text-center">You are already logged in, click <a
                                    href="{% url 'account_change_password' %}">here</a> to change your password.</p>
                        {% else %}
                            <p>This password reset link is invalid. It may have expired or was already used.</p>
                            <p>You can request a new password reset link <a
                                    href="{% url 'account_reset_password' %}">here.</a></p>
                        {% endif %}
                    </div>
                </div>
            {% else %}
                <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
                    <h1 class="text-center">Reset Your Password</h1>
                    <br>
                    {% if form %}
                        <form method="POST" action="">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <br>
                            <div class="text-center">
                                <input id="reset_password_btn" class="btn btn-success" type="submit"
                                       value="Reset password"/>
                            </div>
                        </form>
                    {% else %}
                        <p>Your password has been changed.</p>
                    {% endif %}
                </div>
            {% endif %}
        </div>

    </div>
{% endblock %}
