{% extends "site_base.html" %}
{% load i18n %}

{% block title %}Registration Closed{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h1>{% trans "Registration Closed" %}</h1>
                    <p>{% trans "We are sorry, but we are not accepting any more registrations at this time" %}</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
