// A place for custom fa icon styling and any icon definitions.

.fa-trash-red {
  cursor: pointer;
  color: indianred;
  &:hover {
    color: darkred;
  }
}

.fa-check-green {
  color: green;
}

.fa-close-red {
  color: red;
}

.fa-times-circle-red {
  cursor: pointer;
  color: $brand-danger;
}
