$ess-gray: gray;
$ess-gray-lightest: lighten($ess-gray, 45%);
$ess-gray-lighter: lighten($ess-gray, 20%);
$ess-gray-light: lighten($ess-gray, 10%);
$ess-gray-dark: darken($ess-gray, 10%);
$ess-gray-darker: darken($ess-gray, 20%);
$ess-gray-vertical-line: #DDDDDD;
$ess-table-row: #D6D6D6;

$navbar-vertical-line: 1px solid $ess-gray-vertical-line;
