@import "variables";

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #F8F8F8;
  border: 1px solid #E7E7E7;
}

.breadcrumb-footer {
  margin: 0 auto;
}

#noty_topRight_layout_container {
  :hover {
    opacity: 0.5;
  }

  .list-group-item {
    margin: 4px 0;
  }
}

.noty_type_info {
  color: #31708F;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
}

.noty_type_alert {
  color: #A94442;
  background-color: #F2DEDE;
  border-color: #EBCCD1;
}

.asteriskField {
  color: red;
}

div.alert.alert-block.alert-danger > ul > li {
  list-style: none;
}

.btn-back {
  color: white;
  background: #8B8B8B;
  &:hover {
    color: white;
    background: #686868;
  }
}

#div_id_birthday > .controls {
  margin-top: 5px;
}

.nav-tab-link-color {
  color: #999999;
  &:hover {
    color: black;
  }
}

.more-sport-info {
  cursor: pointer;

  &:hover {
    background-color: #F5F5F5;
  }
}

.more-sport-info-fa-icon {
  color: black;
  margin-top: 3px;
}

.trash-delete {
  cursor: pointer;
  color: indianred;
  &:hover {
    color: darkred;
  }
}

.vertical-line-left {
  @media (min-width: 768px) {
    border-left: $vertical-line;
  }
  @media(max-width: 767px) {
    border-top: $vertical-line;
  }
}

.vertical-line-right {
  @media (min-width: 768px) {
    border-left: $vertical-line;
  }
  @media(max-width: 767px) {
    border-top: $vertical-line;
  }
}

table.table.table-borderless {

  // Remove table borders for header
  thead tr th {
    border: none;
  }

  tbody {
    // Apply box shadow to all tr's except tr's meant to be spacers
    tr:not(.table-row-spacer) {
      box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    }

    tr.table-row-collapsible td {
      // Completely hide the collapsible tr
      padding: 0;
      // Color the collapsible div (panel)
      div {
        background: #F5F5F5;
      }
    }

    tr.table-row-extra-padding {
      // Add some padding to the left most column so text isn't flush against the left side of the table
      td:first-child {
        padding-left: 15px;
      }
      // Make each tr bigger (can't set padding on tr so need to do it on each td)
      td {
        padding-top: 20px;
        padding-bottom: 20px;
      }
      // Color the tr
      background: #D6D6D6;
    }

    // Make the table row spacer bigger
    tr.table-row-spacer td {
      padding-bottom: 25px;
    }

    // Remove table borders for tbody elements
    tr td {
      border: none;
    }

  }
}

// Remove extra margin bootstrap's panels have
.table-row-panel {
  margin-bottom: 0;
}

.fa-green-check {
  color: green;
}

.fa-red-x {
  color: red;
}
