#noty_topRight_layout_container {
  :hover {
    opacity: 0.5;
  }

  .list-group-item {
    margin: 4px 0;
  }
}

.noty_type_info {
  color: #31708F;
  background-color: #D9EDF7;
  border-color: #BCE8F1;
}

.noty_type_alert {
  color: #A94442;
  background-color: #F2DEDE;
  border-color: #EBCCD1;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #F8F8F8;
  border: 1px solid #E7E7E7;
}

.breadcrumb-footer {
  margin: 0 auto;
}
