[run]
branch = True
source = .
omit =
    features/*
    */settings/*
    */urls.py
    */__init__.py
    */admin.py
    */wsgi.py
    manage.py
    */migrations/*
    */apps.py
    */tests/*


[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self\.debug
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    from .* import .*
    import .*

ignore_errors = True

[html]
directory = coverage
