{% extends 'emails/email_base.html' %}
{% load account %}
{% user_display user as user_display %}

{% block content %}
    {% with site_name=current_site.name site_domain=current_site.domain %}

        <p>Hello {{ user }},</p>

        <p>
            You are receiving this e-mail because you or someone else has requested a password reset for your user
            account at {{ site_domain }}. Click the link below to reset your password.
        </p>

        <p>
            {% include "emails/button.html" with btn_link=password_reset_url btn_text="Reset Password" %}
        </p>

        <p>If you were not the person who requested a password reset, please ignore this message.</p>

        <p>Thanks!</p>
    {% endwith %}
{% endblock %}
