{% extends 'users/user_detail_base.html' %}
{% load get_tab_active_class from utils %}

{% block title %}User Profile{% endblock %}

{% block tab_content %}

  {# Information tab #}
  <div role="tabpanel" class="tab-pane {% get_tab_active_class info_tab_key %}" id="{{ info_tab_key }}">

    {% if user_obj == request.user %}
      <div class="row mb10">
        <div class="col-md-offset-4 col-md-4">
          <div class="text-right">
            <a id="user-edit-link" href="{% url 'users:update' %}">Edit</a>
          </div>
        </div>
      </div>
    {% endif %}

    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <div>
          <ul class="list-group">
            {% for label, value in user_information.items %}
              <li class="list-group-item">
                <strong>{{ label }}</strong>
                <span class="pull-right">{{ value }}</span>
              </li>
            {% endfor %}
          </ul>
        </div>

      </div>
    </div>
  </div>
  {# End information tab #}

  {# Sports tab #}
  <div role="tabpanel" class="tab-pane {% get_tab_active_class sports_tab_key %}" id="{{ sports_tab_key }}">
    <div class="row">
      <div class="col-md-12">
        {% include 'userprofiles/_sport_registration_info.html' %}
      </div>
    </div>
  </div>
  {# End sports tab #}

{% endblock %}
