<div>
  <table class="table responsive-table table-thin-th-border">

    <thead>
    <tr>
      <th scope="col">Team</th>
      <th scope="col">Division</th>
      <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    {% for manager in managers %}
      <tr>
        <td data-title="Team">
          {% with team=manager.team %}
            {% include 'includes/team_logo.html' with team=team %}
            <a href="{% url 'teams:schedule' team_pk=team.pk %}">{{ team.name }}</a>
          {% endwith %}
        </td>
        <td data-title="Division">{{ manager.team.division }}</td>
        <td data-title="">
          <div class="dropdown table-dropdown">
            <a
              id="actions-dropdown-manager-{{ manager.team.slug }}"
              data-target="#manager-{{ manager.id }}"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              role="button"
            >Actions
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu table-dropdown-menu" aria-labelledby="{{ manager.id }}">
              {# Start Season Roster items #}
              <li class="dropdown-header">Season Rosters</li>
              <li>
                <a id="create_season_roster_btn_{{ manager.team.slug }}" href="{% url 'teams:season_rosters:create' manager.team.pk %}" role="button">
                  <i class="fa fa-plus-circle fa-success"></i>&nbsp;Create
                </a>
              </li>
              <li>
                <a id="list_season_rosters_btn_{{ manager.team.slug }}" href="{% url 'teams:season_rosters:list' manager.team.pk %}" role="button">
                  <i class="fa fa-list-alt fa-primary"></i>&nbsp;List
                </a>
              </li>
              {# End Season Roster items #}

              {# Start game items #}
              <li class="dropdown-header">Games</li>
              <li>
                <a id="create_game_btn_{{ manager.team.slug }}" href="{% url 'teams:games:create' manager.team.pk %}" role="button">
                  <i class="fa fa-plus-circle fa-success"></i>&nbsp;Create
                </a>
              </li>
              <li>
                <a id="list_games_manager_btn_{{ manager.team.slug }}" href="{% url 'teams:schedule' team_pk=manager.team.pk %}" role="button">
                  <i class="fa fa-list-alt fa-primary"></i>&nbsp;List
                </a>
              </li>
              {# End game items #}
            </ul>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>

  </table>
</div>
