{% extends 'site_base.html' %}
{% load static %}

{% block title %}Manager Home{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h1>Your Teams</h1>
                    <h4 class="text-muted">Showing all teams you are a manager for</h4>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-offset-3 col-sm-6 col-sm-offset-3">
                {% if teams %}

                    {% for team in teams %}
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h3 class="text-center panel-title">
                                    {{ team.name }}
                                </h3>
                            </div>
                            <div class="panel-body">
                                <div class="text-md text-left">{{ team.division }}</div>
                                <div class="text-left text-muted">{{ team.division.league }}</div>
                                <div class="pull-right">
                                    <a id="{{ team.slug }}_manage_link" href="#team-{{ team.id }}" role="button"
                                       data-toggle="collapse" data-name="manage-link">
                                        Manage<span class="fa fa-fw fa-caret-down"></span>
                                    </a>
                                </div>

                                <div class="collapse" id="team-{{ team.id }}">
                                    <br><br>
                                    <div class="pull-left">
                                        <p><strong>Season Rosters</strong></p>
                                        <div class="btn-group btn-group-sm">
                                            <a id="{{ team.slug }}_create_season_roster_btn"
                                               href="{% url 'teams:season_rosters:create' team.pk %}"
                                               class="btn btn-success"><span
                                                    class="fa fa-plus"></span></a>
                                            <a id="{{ team.slug }}_list_season_rosters_btn"
                                               href="{% url 'teams:season_rosters:list' team.pk %}"
                                               class="btn btn-primary"><span
                                                    class="fa fa-list"></span></a>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    {% endfor %}

                {% else %}
                    <div class="h4 text-center alert alert-warning">
                        You are not registered as a manager for any teams.<br><br>Manage your sport registrations <a
                            class="alert-link" href="{% url 'account_home' %}">here.</a>
                    </div>
                {% endif %}

            </div>
        </div>

    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $(function () {
            $("a[data-name='manage-link']").click(function (e) {
                $(this).find("span").toggleClass("fa-caret-down fa-caret-up");
            });
        });
    </script>
{% endblock %}
