{% extends 'site_base.html' %}
{% load copy_to_clipboard_btn from utils %}

{% block title %}{{ location.name }}{% endblock %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-md-6">
        <div class="text-center">
          <h3>{{ location.name }}</h3>
          <address>
            <strong>Address:</strong>
            {% copy_to_clipboard_btn text=address %}<br>
            {{ location.street_number }} {{ location.street }},<br>
            {{ location.city }}, {{ location.state }} {{ location.zip_code }}<br><br>

            <strong>Phone:</strong>
            {% copy_to_clipboard_btn text=location.phone_number %}<br>
            <a href="tel:{{ location.phone_number }}">{{ location.phone_number }}</a><br><br>

            <strong>Website:</strong>
            {% if location.website %}
              {% copy_to_clipboard_btn text=location.website %}
            {% endif %}
            <br>
            {% if location.website %}
              <a href="{{ location.website }}" target="_blank" rel="noopener noreferrer">
                View
                <i class="fa fa-align-middle fa-external-link" aria-hidden="true"></i>
              </a>
            {% else %}
              N/A
            {% endif %}
          </address>
        </div>
      </div>

      <div class="col-md-6">
        <div class="text-center">
          <h3></h3>
          <div class="js-loading mt20">
            {% include 'includes/loading.html' %}
          </div>

          {% if not RUNNING_AUTOMATED_TESTS %}
            <div id="iframe-container">
              <iframe
                class="google-map"
                width="600"
                height="450"
                frameborder="0"
                src="https://www.google.com/maps/embed/v1/place?q={{ address|urlencode }}&key={{ GOOGLE_MAPS_API_KEY }}"
                allowfullscreen
              >
              </iframe>
            </div>
          {% endif %}

          <div id="iframeError" class="hidden mt20">
            <p>There was an error loading the map.</p>
            <p>Try refreshing the page or try again later.</p>
          </div>

        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block extra_js %}
  {% if not RUNNING_AUTOMATED_TESTS %}
    <script>
      $(function () {
        var onError = function () {
          $('#iframe-container').remove();
          hideLoading();
          $('#iframeError').removeClass('hidden');
        };

        // If the iframe successfully loads, the timeout gets cleared. Otherwise after a set amount of time we assume
        // an error occurred while loading the iframe.
        var iframeError = setTimeout(onError, 2000);

        var hideLoading = function () {
          $('.js-loading').addClass('hidden');
        };

        $('iframe').load(function () {
          clearTimeout(iframeError);
          hideLoading();
        });
      });
    </script>
  {% endif %}
{% endblock %}
