{% extends 'site_base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <h1>Contact Us</h1>
          <h4>Please send all inquiries to the email address below</h4>
          <br>
          <h3>{{ support_contact.name }}</h3>
          <p>
            <a href="mailto:{{ support_contact.email }}">{{ support_contact.email }}</a>
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
