{% extends 'site_base.html' %}

{% block title %}Contact Us{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h1>Contact Us</h1>
                    <h4>Please send any questions to one of the email addresses below</h4>
                    <br>
                    <h3>
                        Harris Pittinsky
                        <br>
                        <a href="mailto:hpittin1@binghamton.edu">hpittin1@binghamton.edu</a>
                    </h3>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
