{% load get_past_seasons_nav_tab_url from utils %}

<li role="presentation" class="list-item--pill dropdown">
  <a
    id="tab-item-past-seasons"
    class="tab-link dropdown-toggle"
    data-toggle="dropdown"
    href="#"
    aria-controls="past_seasons"
    aria-haspopup="true"
    aria-expanded="false"
    role="tab"
  >Past Seasons<i class="fa fa-fw fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu">
    {% for past_season in past_seasons %}
      <li>
        <a
          id="past-season-{{ past_season.pk }}"
          href="{% get_past_seasons_nav_tab_url profile_type %}"
        >{{ past_season }}
        </a>
      </li>
    {% empty %}
      <li><a>There are no past seasons at this time.</a></li>
    {% endfor %}
  </ul>
</li>
