<li role="presentation" class="list-item--pill dropdown">
  <a
    id="tab-item-schedule"
    class="tab-link dropdown-toggle"
    data-toggle="dropdown"
    href="#"
    aria-controls="schedule"
    aria-haspopup="true"
    aria-expanded="false"
    role="tab"
  >Schedule<i class="fa fa-fw fa-caret-down"></i>
  </a>
  <ul class="dropdown-menu">
    <li>
      <a id="create-game-btn" href="{% url 'teams:games:create' team_pk=team.pk %}" role="button">
        <i class="fa fa-plus-circle fa-success"></i>&nbsp;Create Game
      </a>
    </li>
  </ul>
</li>
