{% extends 'teams/team_detail_base.html' %}
{% load booltojson from utils %}

{% block page %}Season Rosters{% endblock %}
{% block current_season_page_text %}rosters are available{% endblock %}

{% block tab_content %}
  <div role="tabpanel" class="tab-pane active" id="season-rosters">
    {% if can_user_list %}
      <div class="row">
        <div class="col-md-12">

          <h4 class="text-center">{{ season }}</h4>
          <div class="text-center js-loading">
            {% include 'includes/loading.html' %}
          </div>

          {# Hide the table and show a loading icon while datatables is being initialized #}
          <div class="text-center hidden js-table-section">
            {% if can_create_season_roster %}
              <span class="pull-right mt5">
                <a
                  id="create-season-roster-btn"
                  href="{% url 'teams:season_rosters:create' team.pk %}"
                  class="btn btn-sm btn-default"
                ><i class="fa fa-plus-circle fa-success"></i>&nbsp;Season Roster
                </a>
              </span>
            {% endif %}

            <table class="table js-table responsive-table table-thin-th-border">
              <thead>
              <tr>
                {# !!! Remember to update the datatables column indexes if modifying this !!! #}
                <th scope="col">Name</th>
                <th scope="col">Default</th>
                <th scope="col">Created By</th>
                <th scope="col">Players</th>
                <th scope="col"></th>
              </tr>
              </thead>
              <tbody>
              {% for season_roster in season_rosters %}
                <tr>
                  <td data-title="Name">{{ season_roster.name }}</td>
                  <td data-title="Default">
                    {% if season_roster.default %}
                      <span class="fa fa-check fa-check-green"></span>
                    {% else %}
                      <span class="fa fa-close fa-close-red"></span>
                    {% endif %}
                  </td>
                  <td data-title="Created By">
                    {% with created_by=season_roster.created_by %}
                      <a href="{% url 'users:detail' pk=created_by.pk %}">{{ created_by.get_full_name }}</a>{% if season_roster.created_by_id == request.user.id %}&nbsp;(you){% endif %}
                    {% endwith %}
                  </td>
                  <td data-title="Players">
                    <a
                      id="view-players-{{ season_roster.id }}-link"
                      class="btn btn-link"
                      data-toggle="modal"
                      data-target="#{{ season_roster.id }}-modal"
                    >View
                    </a>
                  </td>
                  <td>
                    <div class="dropdown table-dropdown">
                      <a
                        type="button"
                        class="btn btn-link"
                        data-toggle="dropdown"
                        aria-haspopup="true"
                        id="actions-dropdown-{{ season_roster.id }}"
                        aria-expanded="false"
                      >Actions&nbsp;<i class="fa fa-caret-down"></i>
                      </a>
                      <ul class="dropdown-menu table-dropdown-menu" aria-labelledby="{{ season_roster.id }}">
                        <li>
                          <a
                            id="update-season-roster-{{ season_roster.pk }}-link"
                            href="{% url 'teams:season_rosters:update' team.pk season_roster.pk %}"
                          ><i class="fa fa-pencil fa-primary"></i>&nbsp;Edit
                          </a>
                        </li>
                      </ul>
                    </div>
                  </td>
                </tr>

                {% include 'seasons/_players_modal.html' %}

              {% endfor %}
              </tbody>
            </table>
          </div>
        </div>
      </div>
    {% else %}
      <div class="row">
        <div class="col-md-offset-3 col-md-6">
          <div class="text-center">
            <div class="alert alert-danger" role="alert">
              Your account does not currently have access to this functionality.
              {% include 'includes/contact_info.html' %}
            </div>
          </div>
        </div>
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block extra_js %}
  {% if can_user_list %}
    <script>
      $(function () {
        var hasSeasonRosters = {{ has_season_rosters|booltojson }};
        $('.js-table').enableDataTable({
          dom: '<"pull-left"f>tpr',
          order: [[0, 'asc']],
          columnDefs: [
            {
              orderable: false,
              targets: [1, 3, 4]
            },
          ],
          language: {
            searchPlaceholder: 'Search season rosters',
            zeroRecords: 'No season rosters match your search criteria.',
            emptyTable: 'There are no season rosters for {{ team.name }} at this time.'
          },
          paging: hasSeasonRosters,
          searching: hasSeasonRosters,
          initComplete: function () {
            $('.js-loading').remove();
            $('.js-table-section').removeClass('hidden');
          }
        });
      });
    </script>
  {% endif %}
{% endblock %}
