{% extends 'admin/base_site.html' %}
{% load crispy_forms_tags i18n admin_urls %}

{% block extrastyle %}
  {{ block.super }}
  <style>
    .text-center {
      text-align: center;
    }

    .list {
      padding: 0;
    }

    .list li {
      list-style: none;
    }

    .has-error {
      color: red;
    }
  </style>
{% endblock %}


{% if not is_popup %}
  {% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="{% url 'admin:index' %}">{% trans 'Home' %}</a>
      &rsaquo; <a href="{% url 'admin:app_list' app_label=opts.app_label %}">{{ opts.app_config.verbose_name }}</a>
      &rsaquo; <a href="{% url opts|admin_urlname:'changelist' %}">{{ opts.verbose_name_plural|capfirst }}</a>
      &rsaquo; {% blocktrans with name=opts.verbose_name %}Bulk upload {{ name }}{% endblocktrans %}
    </div>
  {% endblock %}
{% endif %}

{% block content_title %}<h1 class="text-center">{{ title }}</h1>{% endblock %}

{% block content %}
  <div class="text-center">
    {% if formset and formset.errors %}
      <p class="has-error">Please correct the errors below</p>
      <ul class="list has-error">
        {% for form_errors in formset.errors %}
          {% if form_errors %}
            <li>
              <div>Row {{ forloop.counter }}:</div>
              {% for field, field_errors in form_errors.items %}
                <div>
                  <strong>{{ field }}</strong>: {{ field_errors|join:', ' }}
                </div>
              {% endfor %}
            </li>
          {% endif %}
          <br>
        {% endfor %}
      </ul>
    {% endif %}

    <form action="" method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form | crispy }}
      <br>
      <input id="bulk_upload_submit_btn" type="submit" value="Upload">
    </form>
  </div>
{% endblock %}
