{% extends 'site_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Sport{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
                <div class="text-center">
                    <h1>Create Sport</h1>
                    <br>
                    <form action="." method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <button id="create_sport_btn" class="btn btn-success">Create Sport</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
