{% extends 'site_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Finish Sport Registrations{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h2>Finish {{ sport_name }} Registration</h2>
                    <p>Please fill out any role specific information below.</p>
                    {% if sport_registrations_remaining %}
                        <br>
                        <h4 class="text-muted">Remaining sport registrations:</h4>
                        {% for sport in sport_registrations_remaining %}
                            <span class="label label-primary">{{ sport }}</span>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
                <form action="" method="post">
                    {% csrf_token %}

                    {% if coach_form %}
                        <h3 class="text-center">{{ sport_name }} Coach</h3>
                        {{ coach_form | crispy }}
                        <br>
                    {% endif %}

                    {% if player_form %}
                        <h3 class="text-center">{{ sport_name }} Player</h3>
                        {{ player_form | crispy }}
                        <br>
                    {% endif %}

                    {% if manager_form %}
                        <h3 class="text-center">{{ sport_name }} Manager</h3>
                        {{ manager_form | crispy }}
                        <br>
                    {% endif %}

                    {% if referee_form %}
                        <h3 class="text-center">{{ sport_name }} Referee</h3>
                        {{ referee_form | crispy }}
                        <br>
                    {% endif %}

                    <br>

                    <div class="text-center">
                        <button id="next_sport_registration_btn" type="submit" role="button" class="btn btn-success">
                            {% if sport_registrations_remaining %}Next sport registration{% else %}Finish{% endif %}
                        </button>
                    </div>
                    <br>
                </form>
            </div>
        </div>
    </div>
{% endblock %}

{% block extra_js %}
    <script>
        $(function () {
            $(".select.form-control[name$='team']").enableBootstrapSelect({header: "Select a team"});
        });
    </script>
{% endblock %}
