{% extends 'site_base.html' %}
{% load crispy_forms_tags static ess_utils %}

{% block title %}Manage Your {{ sport_name }} Registration{% endblock %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <h2>Manage Your {{ sport_name }} Registration</h2>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2">
        <div class="text-center">
          <br><br>
          <ul class="nav nav-tabs nav-justified" role="tablist">
            {% for role in sr_roles %}
              <li role="presentation" class="{% if forloop.first and tab is None or tab == role|lower %}active{% endif %}">
                <a id="{{ role|lower }}_tab" href="#id_{{ role|lower }}" role="tab" data-toggle="tab" class="nav-tab" data-tab="{{ role|lower }}">
                  {% pluralize_roles role %}
                </a>
              </li>
            {% endfor %}
          </ul>

          <div class="tab-content">
            {% for role, related_objs in related_objects.items %}
              <div role="tabpanel" class="tab-pane {% if forloop.first and tab is None or tab == role|lower %}active{% endif %}" id="id_{{ role|lower }}">
                <br>
                {% if role == 'Player' %}
                  {% include 'players/_players.html' %}
                {% elif role == 'Coach' %}
                  {% include 'coaches/_coaches.html' %}
                {% elif role == 'Referee' %}
                  {% include 'referees/_referees.html' %}
                {% elif role == 'Manager' %}
                  {% include 'managers/_managers.html' %}
                {% elif role == 'Scorekeeper' %}
                  {% include 'scorekeepers/_scorekeepers.html' %}
                {% endif %}
              </div>
            {% endfor %}
          </div>
          <br><br>
        </div>
      </div>
    </div>
  </div>
{% endblock %}


{% block extra_js %}
  <script src="{% static 'sports/js/handle_deactivations.js' %}"></script>
  <script>
    $(function () {
      $(document).on("shown.bs.dropdown", ".dropdown", function () {
        // calculate the required sizes, spaces
        var $ul = $(this).children(".dropdown-menu");
        var $button = $(this).children(".dropdown-toggle");
        var ulOffset = $ul.offset();
        // how much space would be left on the top if the dropdown opened that direction
        var spaceUp = (ulOffset.top - $button.height() - $ul.height()) - $(window).scrollTop();
        // how much space is left at the bottom
        var spaceDown = $(window).scrollTop() + $(window).height() - (ulOffset.top + $ul.height());
        // switch to dropup only if there is no space at the bottom AND there is space at the top, or there isn't either but it would be still better fit
        if (spaceDown < 0 && (spaceUp >= 0 || spaceUp > spaceDown)) {
          $(this).addClass("dropup");
        }
      });

      $(document).on("hidden.bs.dropdown", ".dropdown", function () {
        // always reset after close
        $(this).removeClass("dropup");
      });
    });
  </script>
{% endblock %}
