{% extends 'site_base.html' %}
{% load crispy_forms_tags static %}

{% block title %}Register for sports{% endblock %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <h3>Register for sports</h3>
          <p class="text-muted">Registering for sports help us streamline your registration process.</p>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm-offset-4 col-sm-4">
        <div class="hidden" id="prefix" data-prefix="{{ formset.prefix }}"></div>

        <form action="" method="post">
          {% csrf_token %}
          {% crispy formset helper %}

          <div id="additional_forms"></div>

          <div id="empty_form" class="hidden">
            {{ formset.empty_form | crispy }}
          </div>

          <br>

          <div class="text-center">
            <button id="add_another_form_btn" class="btn btn-info" type="button" role="button">
              <i class="fa fa-fw fa-plus-circle"></i>Add form
            </button>
            <button id="sport_registration_next_step_btn" type="submit" class="btn btn-success">Register</button>
          </div>
        </form>
      </div>
    </div>

  </div>
{% endblock %}

{% block extra_js %}
  <script src="{% static 'js/manage_formset_forms.js' %}"></script>
{% endblock %}
