{% extends 'site_base.html' %}
{% load crispy_forms_tags static %}

{% block title %}New Sport Registration{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h1>Register for a sport</h1>
                    <br>
                    <p>You must register for at least one sport.<br>You can register for more sports by pressing the "Add another form" button below.</p>
                    <p>The maximum number of sports you can currently register for is {{ sport_count }}.<br>(including sports you have already registered for)</p>
                    <p class="text-muted">Any forms you add are optional to fill out.</p>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
                <form action="" method="post">
                    {% csrf_token %}
                    {{ formset | crispy }}

                    <div id="additional_forms"></div>

                    <div id="empty_form" class="hidden">
                        {{ formset.empty_form | crispy }}
                    </div>

                    <br>

                    <div class="text-center">
                        <button id="add_another_form_btn" class="btn btn-info" type="button" role="button"><span
                                class="fa fa-plus"></span>&nbsp;Add another form
                        </button>
                        <input id="sport_registration_next_step_btn" type="submit" class="btn btn-success" value="Go to next step">
                        <br>
                    </div>
                </form>
            </div>
        </div>

    </div>
{% endblock %}


{% block extra_js %}
    <script src="{% static 'sports/javascripts/add_additional_formset_form.js' %}"></script>
{% endblock %}
