{% extends 'site_base.html' %}
{% load crispy_forms_tags staticfiles %}

{% block title %}Update Sport Registration{% endblock %}

{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h2>Update Sport Registration for {{ sport_registration.sport }}</h2>
                    <br>
                    <h4>Current Roles</h4>
                    <p>
                        {% for role in sport_registration.roles %}
                            <span class="label label-default">{{ role }}</span>
                        {% empty %}
                            N/A
                        {% endfor %}
                    </p>
                    <br>
                    <h4>Changing your team or league is not currently supported.</h4>
                    <h4>If you have any questions or issues please <a href="{% url 'contact_us' %}">contact us</a>.</h4>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
                <form action="" method="post">
                    {% csrf_token %}

                    {% if player_form %}
                        <h3 class="text-center">{{ sport_registration.sport }} Player</h3>

                        {% if has_one_role %}
                            <div class="pull-right" data-toggle="tooltip" data-placement="top" title="You cannot remove this role, you must have at least one role.">
                                <a id="remove_player_icon_disabled" href="#"><span class="fa fa-trash trash-delete"></span></a>
                            </div>
                        {% else %}
                            <div class="pull-right" data-toggle="tooltip" data-placement="top" title="Remove player role">
                                <a id="remove_player_icon" href="#" data-toggle="modal" data-target="#remove_player_modal"><span class="fa fa-trash trash-delete"></span></a>
                            </div>
                        {% endif %}

                        {{ player_form | crispy }}

                        <br>
                    {% endif %}

                    {% if coach_form %}
                        <h3 class="text-center">{{ sport_registration.sport }} Coach</h3>

                        {% if has_one_role %}
                            <div class="pull-right" data-toggle="tooltip" data-placement="top" title="You cannot remove this role, you must have at least one role.">
                                <a id="remove_coach_icon_disabled" href="#"><span class="fa fa-trash trash-delete"></span></a>
                            </div>
                        {% else %}
                            <div class="pull-right" data-toggle="tooltip" data-placement="top" title="Remove coach role">
                                <a id="remove_coach_icon" href="#" data-toggle="modal" data-target="#remove_coach_modal"><span class="fa fa-trash trash-delete"></span></a>
                            </div>
                        {% endif %}

                        {{ coach_form | crispy }}

                        <br>
                    {% endif %}

                    {% if referee_form %}
                        <h3 class="text-center">{{ sport_registration.sport }} Referee</h3>

                        {% if has_one_role %}
                            <div class="pull-right" data-toggle="tooltip" data-placement="top" title="You cannot remove this role, you must have at least one role.">
                                <a id="remove_referee_icon_disabled" href="#"><span class="fa fa-trash trash-delete"></span></a>
                            </div>
                        {% else %}
                            <div class="pull-right" data-toggle="tooltip" data-placement="top" title="Remove referee role">
                                <a id="remove_referee_icon" href="#" data-toggle="modal" data-target="#remove_referee_modal"><span class="fa fa-trash trash-delete"></span></a>
                            </div>
                        {% endif %}

                        {{ referee_form | crispy }}

                        <br>
                    {% endif %}

                    {% if manager_form %}
                        <h3 class="text-center">{{ sport_registration.sport }} Manager</h3>

                        {% if has_one_role %}
                            <div class="pull-right" data-toggle="tooltip" data-placement="top" title="You cannot remove this role, you must have at least one role.">
                                <a id="remove_manager_icon_disabled" href="#"><span class="fa fa-trash trash-delete"></span></a>
                            </div>
                        {% else %}
                            <div class="pull-right" data-toggle="tooltip" data-placement="top" title="Remove manager role">
                                <a id="remove_manager_icon" href="#" data-toggle="modal" data-target="#remove_manager_modal"><span class="fa fa-trash trash-delete"></span></a>
                            </div>
                        {% endif %}

                        {{ manager_form | crispy }}

                        <br>
                    {% endif %}

                    <br>

                    <div class="text-center">
                        <input id="update_sport_registration_btn" type="submit" value="Update sport registration"
                               class="btn btn-success">
                    </div>
                    <br>

                </form>

                {% for role in sport_registration.roles %}
                    {% with role=role|lower %}
                        <div class="modal fade" id="remove_{{ role }}_modal" tabindex="-1" role="dialog">
                            <br><br><br><br><br>
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span></button>
                                        <h4 class="modal-title">Are you sure?</h4>
                                    </div>
                                    <div class="modal-body">
                                        <div class="text-center">
                                            <h4>Remove {{ role }} role from {{ sport_registration.sport }}</h4>
                                            <p>You will no longer have access to {{ role }} specific functionality for {{ sport_registration.sport }}.</p>
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel
                                        </button>
                                        <button id="remove_{{ role }}_role_btn" name="remove_role_btn"
                                                data-url="{% url 'v1:remove_sport_registration_role' pk=sport_registration.pk role=role %}"
                                                type="button" class="btn btn-danger">Ok
                                        </button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endwith %}
                {% endfor %}

            </div>
        </div>
    </div>
{% endblock %}


{% block extra_js %}
    <script src="{% static 'sports/javascripts/remove_sport_registration_roles.js' %}"></script>
{% endblock %}
