{% extends 'site_base.html' %}
{% load crispy_forms_tags staticfiles %}

{% block title %}Create Season Roster{% endblock %}


{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    {% if team %}
                        <h2>Create Season Roster for {{ team.name }}</h2>
                        <h4 class="text-muted">{{ team.division }} - {{ team.division.league }}</h4>
                    {% else %}
                        <h2>You are a manager for the following teams</h2>
                        <h4 class="text-muted">Click a team name below to create a season roster</h4>
                    {% endif %}
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
                <div class="text-center">
                    {% if team %}
                        <form action="" method="post">
                            {% csrf_token %}
                            {{ form | crispy }}
                            <br>
                            <a href="{% url 'season:create_season_roster' %}" class="btn btn-back">Back</a>
                            <button id="create_season_roster_btn" type="submit" class="btn btn-success">Create season roster</button>
                        </form>
                    {% else %}
                        {% for sport, team in sport_team_mappings.items %}
                            <h4>{{ sport }}</h4>
                            <ul class="list-group">
                                <li class="list-group-item"><a
                                        href="{% url 'season:create_season_roster_team_param' team_pk=team.pk %}">{{ team.name }}</a>
                                </li>
                            </ul>
                        {% empty %}
                            <h4>You are not registered as a manager for any teams</h4>
                        {% endfor %}
                    {% endif %}
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block extra_js %}
    <script>
        $(function () {
            $(".selectmultiple.form-control[name$='players']").enableSelect2({multiple: true, closeOnSelect: false});
        });
    </script>
{% endblock %}
