{% extends 'site_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Season Roster{% endblock %}


{% block content %}
    <div class="container">

        <div class="row">
            <div class="col-sm-12">
                <div class="text-center">
                    <h2>Create Season Roster for {{ team.name }}</h2>
                    <h4 class="text-muted">{{ team.division }} - {{ team.division.league }}</h4>
                </div>
            </div>
        </div>

        <br>

        <div class="row">
            <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
                <div class="text-center">
                    <form action="" method="post">
                        {% csrf_token %}
                        {{ form | crispy }}
                        <br>
                        <a href="{% url 'manager:home' %}" class="btn btn-back">Back</a>
                        <button id="create_season_roster_btn" type="submit" class="btn btn-success">Create season
                                                                                                    roster
                        </button>
                    </form>
                </div>
            </div>
        </div>

    </div>
{% endblock %}


{% block extra_js %}
    <script>
        $(function () {
            $(".selectmultiple.form-control[name$='players']").enableBootstrapSelect({header: "Select players"});
        });
    </script>
{% endblock %}
