{% extends 'site_base.html' %}

{% block title %}{{ league.abbreviated_name }} {{ season }} {% block page %}{% endblock %}{% endblock %}

{% block content %}
  <div class="container profile">

    <div class="row">
      <div class="col-md-12">
        <div class="text-center mb20">
          <h3>{{ league.name }}</h3>
          <h4 class="text-muted">
            {{ season }}
            {% if not season.expired %}
              <span class="badge badge-info">Current Season</span>
            {% endif %}
          </h4>
          <a href="{% url 'leagues:schedule' slug=league.slug %}">Go to {{ league.abbreviated_name }} profile</a>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <div role="navigation">
          {% url 'leagues:seasons:schedule' slug=league.slug season_pk=season.pk as schedule_link %}
          {% url 'leagues:seasons:divisions' slug=league.slug season_pk=season.pk as divisions_link %}
          <ul class="nav nav-pills nav-justified nav-bordered" role="tablist">
            {% include 'seasons/_schedule_nav_tab.html' %}
            {% include 'seasons/_divisions_nav_tab.html' with link_text="Divisions" %}
            {% include 'profile_nav_tabs/_past_seasons_nav_tab.html' with profile_type='league' %}
          </ul>
        </div>

        <div class="tab-content mt30">
          {% block tab_content %}{% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
