{% extends 'site_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Create Season Roster{% endblock %}


{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <h3>Create Season Roster for {{ team.name }}</h3>
          <h4 class="text-muted">{{ team.division.name }} - {{ team.division.league.full_name }}</h4>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
        <form action="" method="post">
          {% csrf_token %}
          {{ form | crispy }}
          <br>
          <div class="text-center">
            <a class="btn btn-back js-btn-back">Back</a>
            <button id="create_season_roster_btn" type="submit" class="btn btn-success">Create</button>
          </div>
        </form>
      </div>
    </div>

  </div>
{% endblock %}


{% block extra_js %}
  <script>
    $(function () {
      $(".selectmultiple.form-control[name$='players']").enableBootstrapSelect({ header: "Select players" });
    });
  </script>
{% endblock %}
