{% extends 'site_base.html' %}

{% block title %}
  Season Rosters for {{ team.name }} {{ team.division.name }} - {{ team.division.league.abbreviated_name }}
{% endblock %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3>Season Rosters for {{ team.name }}</h3>
          <h4 class="text-muted">{{ team.division.name }} - {{ team.division.league.abbreviated_name }}</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <div class="text-center">

          <div class="text-center js-loading">
            <br>
            {% include 'includes/loading.html' %}
          </div>

          {# Hide the table and show a loading icon while datatables is being initialized #}
          <div class="text-center hidden js-table-section">
            {% if season_rosters %}
              <span class="pull-right mt5">
                <a
                  id="create-season-roster-btn"
                  href="{% url 'teams:season_rosters:create' team.pk %}"
                  class="btn btn-sm btn-default"
                >
                  <i class="fa fa-plus-circle fa-success"></i>
                  Season Roster
                </a>
              </span>

              <table class="table js-table responsive-table table-thin-th-border">
                <thead>
                <tr>
                  {# !!! Remember to update the datatables column indexes if modifying this !!! #}
                  <th scope="col">Name</th>
                  <th scope="col">Season</th>
                  <th scope="col">Default</th>
                  <th scope="col">Created By</th>
                  <th scope="col">Players</th>
                  <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                {% for season_roster, players in season_rosters.items %}
                  <tr>
                    <td data-title="Name">{{ season_roster.name }}</td>
                    <td data-title="Season">{{ season_roster.season }}</td>
                    <td data-title="Default">
                      {% if season_roster.default %}
                        <span class="fa fa-check fa-check-green"></span>
                      {% else %}
                        <span class="fa fa-close fa-close-red"></span>
                      {% endif %}
                    </td>
                    <td data-title="Created By">
                      {{ season_roster.created_by.get_full_name }}{% if season_roster.created_by_id == request.user.id %} (you){% endif %}
                    </td>
                    <td data-title="Players">
                      <a class="btn btn-link" data-toggle="modal" data-target="#{{ season_roster.id }}-modal">View</a>
                    </td>
                    <td>
                      <div class="dropdown table-dropdown">
                        <a type="button" class="btn btn-link" data-toggle="dropdown" aria-haspopup="true"
                           id="actions-dropdown-{{ season_roster.id }}" aria-expanded="false">
                          Actions
                          <i class="fa fa-caret-down"></i>
                        </a>
                        <ul class="dropdown-menu table-dropdown-menu"
                            aria-labelledby="{{ season_roster.id }}">
                          <li>
                            <a id="update-season-roster-{{ season_roster.pk }}-link" href="{% url 'teams:season_rosters:update' team.pk season_roster.pk %}">
                              <i class="fa fa-pencil fa-primary"></i>
                              Edit
                            </a>
                          </li>
                        </ul>
                      </div>
                    </td>
                  </tr>

                  {% include 'seasons/_players_modal.html' with id=season_roster.id players=players %}

                {% endfor %}
                </tbody>
              </table>
            {% else %}
              <br><br>
              <h3 id="no-season-rosters-header">There are no season rosters for this team.</h3>
              <a id="create-season-roster-btn-empty-state" href="{% url 'teams:season_rosters:create' team.pk %}"
                 class="btn btn-sm btn-success">
                <i class="fa fa-plus-circle fa-white"></i>
                Season Roster
              </a>
            {% endif %}
          </div>
        </div>

      </div>
    </div>

  </div>
{% endblock %}

{% block extra_js %}
  <script>
    $(function () {
      {% if season_rosters %}
        $('.js-table').enableDataTable({
          dom: '<"pull-left"f>tpr',
          // Initially sort by season desc. If add/remove columns need to update this.
          order: [[1, 'desc']],
          columnDefs: [
            { orderable: false, targets: [2, 4, 5] },
          ],
          language: {
            searchPlaceholder: 'Search season rosters',
            zeroRecords: 'No season rosters match your search criteria.',
          },
          initComplete: function () {
            $('.js-loading').remove();
            $('.js-table-section').removeClass('hidden');
          }
        });
      {% endif %}
    });
  </script>
{% endblock %}
