{% extends 'site_base.html' %}
{% load crispy_forms_tags %}

{% block title %}Update Season Roster{% endblock %}


{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <h3>Update Season Roster for {{ team.name }}</h3>
          <h4 class="text-muted">{{ team.division.name }} - {{ team.division.league.abbreviated_name }}</h4>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
        <form action="" method="post">
          {% csrf_token %}

          {% crispy form %}

          <br>
          <div class="text-center">
            <a class="btn btn-back js-btn-back">Back</a>
            <button id="update_season_roster_btn" type="submit" class="btn btn-success">Update</button>
          </div>
        </form>
      </div>
    </div>

  </div>
{% endblock %}

{% block extra_js %}
  <script>
    $(function () {
      $(".selectmultiple.form-control[name$='players']").enableBootstrapSelect({ header: "Select/Deselect players" });
      {# Only doing this so select caret is consistent #}
      $("#id_season").enableBootstrapSelect({ header: "Select a season" });
    });
  </script>
{% endblock %}
