# This file describes the network interfaces available on your system
# and how to activate them. For more information, see interfaces(5).

source /etc/network/interfaces.d/*

# The loopback network interface
auto lo
iface lo inet loopback

# The primary network interface
# auto {{ ansible_default_ipv4.alias }}
# iface {{ ansible_default_ipv4.alias }} inet dhcp

auto {{ ansible_default_ipv4.alias }}
iface {{ ansible_default_ipv4.alias }} inet static
address {{ ansible_default_ipv4.address }}
netmask {{ ansible_default_ipv4.netmask }}
gateway {{ ansible_default_ipv4.gateway }}
dns-nameservers 8.8.8.8 {{ ansible_default_ipv4.gateway }}
