{% extends 'site_base.html' %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-offset-2 col-sm-8 col-sm-offset-2">
                <div class="text-center">
                    <br><br><br><br><br><br><br>
                    <div class="alert alert-danger" role="alert">
                        {% if message %}
                            <p>{{ message }}</p>
                        {% else %}
                            <p>No message to display</p>
                        {% endif %}
                    </div>
                    <br><br>
                    <a href="{% url 'manager:home' %}" class="btn btn-back">Back</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
