<div>
  <table class="table responsive-table table-thin-th-border">

    <thead>
    <tr>
      <th scope="col">Team</th>
      <th scope="col">Division</th>
      <th scope="col">Position</th>
      <th scope="col"></th>
    </tr>
    </thead>

    <tbody>
    {% for coach in coaches %}
      <tr>
        <td data-title="Team">
          {% include 'includes/team_logo.html' with team=coach.team %}
          {{ coach.team.name }}
        </td>
        <td data-title="Division">{{ coach.team.division.name }}</td>
        <td data-title="Position">{{ coach.get_position_display }}</td>
        <td data-title="">
          <div class="dropdown table-dropdown">
            <a
              id="actions-dropdown-coach-{{ coach.team.slug }}"
              data-target="#coach-{{ coach.id }}"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              role="button"
            >Actions
              <i class="fa fa-caret-down"></i>
            </a>
            <ul class="dropdown-menu table-dropdown-menu" aria-labelledby="{{ coach.id }}">
              <li class="dropdown-header">Manage</li>
              <li>
                <a href="{% url 'sports:coaches:update' sport.slug coach.pk %}" id="update-coach-link">
                  <i class="fa fa-pencil fa-primary"></i>
                  Edit
                </a>
              </li>
              {# Game items #}
              <li class="dropdown-header">Games</li>
              <li>
                <a id="list_games_coach_btn_{{ coach.team.slug }}" href="{% url 'teams:games:list' coach.team.pk %}" role="button">
                  <i class="fa fa-list-alt fa-primary"></i>&nbsp;List
                </a>
              </li>
            {# End game items #}
            </ul>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>

  </table>
</div>
