{% load waffle_tags %}

<div>
  <table class="table responsive-table table-thin-th-border">

    <thead>
    {% with first_player=players|first %}
      <tr>
        {% for field in first_player.fields.keys %}
          <th scope="col">{{ field }}</th>
        {% endfor %}
      </tr>
    {% endwith %}
    </thead>

    <tbody>
    {% for player in players %}
      <tr>
        {% for field_name, field_value in player.fields.items %}
          <td data-title="{{ field_name }}">
            {% if field_name|lower == 'team' %}
              {% include 'includes/team_logo.html' with team=field_value %}
              <a href="{% url 'teams:schedule' team_pk=field_value.pk %}">{{ field_value.name }}</a>
            {% else %}
              {{ field_value }}
            {% endif %}
          </td>
        {% endfor %}
        <td data-title="">
          <div class="dropdown table-dropdown">
            <a
              id="actions-dropdown-player-{{ player.team.slug }}"
              data-target="#player-{{ player.id }}"
              data-toggle="dropdown"
              aria-haspopup="true"
              aria-expanded="false"
              role="button"
            >Actions
              <i class="fa fa-caret-down"></i>
            </a>

            <ul class="dropdown-menu table-dropdown-menu" aria-labelledby="{{ player.id }}">
              {% switch 'player_update' %}
                <li class="dropdown-header">Manage</li>
                <li>
                  <a href="{% url 'sports:players:update' sport.slug player.pk %}" id="update-player-link">
                    <i class="fa fa-pencil fa-primary"></i>
                    Edit
                  </a>
                </li>
              {% endswitch %}

              {# Game items #}
              <li class="dropdown-header">Games</li>
              <li>
                <a id="list_games_player_btn_{{ player.team.slug }}" href="{% url 'teams:games:list' player.team.pk %}" role="button">
                  <i class="fa fa-list-alt fa-primary"></i>&nbsp;List
                </a>
              </li>
              {# End game items #}
            </ul>
          </div>
        </td>
      </tr>
    {% endfor %}
    </tbody>

  </table>
</div>
