<table role="presentation" cellspacing="0" cellpadding="0" border="0" align="center" style="margin: auto;">
  <tr>
    <td style="border-radius: 3px; background: #38ACEC; text-align: center;"
        class="button-td">
      <a href="{{ btn_link }}"
         style="background: #38ACEC; border: 15px solid #38ACEC; font-family: sans-serif; font-size: 13px; line-height: 1.1; text-align: center; text-decoration: none; display: block; border-radius: 3px; font-weight: bold;"
         class="button-a">
        <span style="color:#ffffff;" class="button-link">{{ btn_text }}</span>
      </a>
    </td>
  </tr>
</table>
