{% extends 'site_base.html' %}

{% block title %}{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <h3 class="text-danger">We have encountered an error</h3>
          <h4>{% block error %}{% endblock %}</h4>
          <p class="text-muted">
            {# When there's an internal server error, url routing doesn't work so just hardcode support email #}
            Please <a href="mailto:harris@pittinsky.com">contact us</a> if the problem persists or if you have any questions.
          </p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
