{% extends 'site_base.html' %}

{% block title %}Looks like there was an error{% endblock %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-sm-12">
        <br><br><br><br>
        <div class="text-center">
          <h1>We have encountered an error</h1>
          <h3 class="text-danger">{% block error_text %}{% endblock %}</h3>
          <br>
          <p class="text-muted">Please <a href="{% url 'contact_us' %}">Contact Us</a> if the problem persists or if
                                you have any questions.</p>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
