<nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle collapsed"
        data-toggle="collapse"
        data-target="#navbar"
        aria-expanded="false"
        aria-controls="navbar"
      >
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{% url 'home' %}">ayrabo</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse" aria-expanded="false">
      <ul class="nav navbar-nav navbar-right">
        {% if user.is_authenticated %}
          <!-- Account dropdown -->
          <li class="vertical-line-left">
            <a
              id="account_menu"
              href="#"
              class="dropdown-toggle"
              data-toggle="dropdown"
              role="button"
              aria-haspopup="true"
              aria-expanded="false"
            >
              Account<span class="caret"></span>
            </a>
            <ul class="dropdown-menu">
              {% if not request.session.is_registration_complete %}
                <li
                  data-toggle="tooltip"
                  data-placement="top"
                  title="Please complete your registration before managing your account."
                  class="disabled"
                >
                  <a class="disabled" id="edit_account_link" href="#">
                    <span class="fa fa-fw fa-user"></span>{{ user.email }}
                  </a>
                </li>
              {% else %}
                <li>
                  <a id="edit_account_link" href="{% url 'account_home' %}">
                    <span class="fa fa-fw fa-user"></span>{{ user.email }}
                  </a>
                </li>
              {% endif %}

              <li class="divider"></li>

              <li>
                <form id="logout_form" action="{% url 'account_logout' %}" method="post">
                  {% csrf_token %}
                </form>
                <a id="logout_btn_acct_menu" href="{% url 'account_logout' %}">
                  <span class="fa fa-fw fa-power-off"></span>Logout
                </a>
              </li>

            </ul>
          </li>
        {% else %}
          <div class="hidden-xs">
            <form action="{% url 'account_login' %}" method="post" class="navbar-form">
              {% csrf_token %}

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">
                    <span class="fa fa-envelope"></span>
                  </div>
                  <input
                    id="id_login_navbar"
                    name="login"
                    type="text"
                    class="form-control input-sm"
                    placeholder="E-mail"
                    required
                  >
                </div>
              </div>

              <div class="form-group">
                <div class="input-group">
                  <div class="input-group-addon">
                    <span class="fa fa-lock"></span>
                  </div>
                  <input
                    id="id_password_navbar"
                    name="password"
                    type="password"
                    class="form-control input-sm"
                    placeholder="Password"
                    required
                  >
                </div>
              </div>
              <button id="login_navbar" role="button" type="submit" class="btn btn-default btn-sm">Login</button>
            </form>
          </div>

          <div class="visible-xs">
            <div class="text-center">
              <a class="btn btn-success" href="{% url 'account_login' %}">Login</a>
            </div>
          </div>

        {% endif %}
      </ul>
    </div>
  </div>
</nav>
