{% extends 'site_base.html' %}
{% load crispy_forms_tags static %}

{% block title %}{{ sport_name }} {{ role }} Registration{% endblock %}


{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-sm-12">
        <div class="text-center">
          <h2>{{ sport_name }} {{ role }} Registration</h2>
          <p>{% block info_text %}{% endblock %}</p>
        </div>
      </div>
    </div>

    <br>

    <div class="row">
      <div class="col-sm-offset-4 col-sm-4 col-sm-offset-4">
        <div class="hidden" id="prefix" data-prefix="{{ formset.prefix }}"></div>
        <form action="" method="post">
          {% csrf_token %}
          {% crispy formset helper %}
          <br>
          <div id="additional_forms"></div>
          <div id="empty_form" class="hidden">
            {{ formset.empty_form | crispy }}
          </div>
          <br>
          <div class="text-center">
            <button id="add_another_form_btn" class="btn btn-info" type="button" role="button"><span
                    class="fa fa-fw fa-plus"></span>Add {{ role|lower }}
            </button>
            <input id="create_objects_btn" type="submit" class="btn btn-success"
                   value="Register and continue">
            <br><br>
            <p class="text-muted text-sm">
              Trying to reactivate your {% if role == 'Referee' %}league{% else %}team{% endif %} registration?<br><a href="{% url 'contact_us' %}">Contact Us</a>
            </p>
          </div>
        </form>
      </div>
    </div>

  </div>
{% endblock %}


{% block extra_js %}
  <script src="{% static 'javascripts/manage_formset_forms.js' %}"></script>
{% endblock %}
