{% load dict_get from utils %}

<table class="table js-table responsive-table table-thin-th-border" data-dom="<'pull-left'f>tpr">
  <thead>
  <tr>
    <th scope="col">#</th>
    <th scope="col">Home</th>
    <th scope="col">Away</th>
    <th scope="col">Type</th>
    <th scope="col">Status</th>
    <th scope="col">Location</th>
    <th scope="col" data-type="date">Start</th>
    <th scope="col" data-type="date">End</th>
    <th scope="col" data-orderable="false"></th>
  </tr>
  </thead>
  <tbody>
  {% for game in games %}
    <tr>
      <td data-title="#">{{ game.pk }}</td>
      {% with team=game.home_team %}
        <td data-title="Home" data-order="{{ team.name }}" data-search="{{ team.name }}">
          {% include 'games/_team.html' with team=team %}
        </td>
      {% endwith %}
      {% with team=game.away_team %}
        <td data-title="Away" data-order="{{ team.name }}" data-search="{{ team.name }}">
          {% include 'games/_team.html' with team=team %}
        </td>
      {% endwith %}
      <td data-title="Type">{{ game.type }}</td>
      <td data-title="Status">{{ game.get_status_display }}</td>
      <td data-title="Location">
        <a href="{% url 'locations:detail' slug=game.location.slug %}">{{ game.location.name }}</a>
      </td>
      <td data-title="Start">{{ game.start_formatted }}</td>
      <td data-title="End">{{ game.end_formatted }}</td>
      <td>
        <div class="dropdown table-dropdown">
          <a
            type="button"
            class="btn btn-link"
            data-toggle="dropdown"
            aria-haspopup="true"
            id="actions-dropdown-{{ game.id }}"
            aria-expanded="false"
          >Actions<i class="fa fa-fw fa-caret-down"></i>
          </a>
          <ul class="dropdown-menu dropdown-menu-right table-dropdown-menu" aria-labelledby="{{ game.id }}">
            {% dict_get game_authorizations game.pk as authorizations %}
            {% dict_get authorizations 'can_user_update' as can_user_update %}
            {% dict_get authorizations 'can_user_update_game_rosters' as can_user_update_game_rosters %}
            <li>
              <a href="{% url 'sports:games:scoresheet' slug=sport.slug game_pk=game.pk %}">
                {% if game.is_in_progress %}
                  <i class="fa fa-circle fa-close-red animated flash infinite slower"></i>&nbsp;View Live
                {# The scoresheet view will prevent premature initialization, we always show Start to users #}
                {# that can start the game for a consistent experience #}
                {% elif game.is_scheduled and can_user_update %}
                  <i class="fa fa-play-circle-o fa-success"></i>&nbsp;Start
                {% else %}
                  <i class="fa fa-eye fa-primary"></i>&nbsp;View
                {% endif %}
              </a>
            </li>
            {% if can_user_update %}
              <li>
                <a
                  id="update-game-{{ game.pk }}"
                  href="{% url 'teams:games:update' team_pk=game.team_id pk=game.pk %}"
                ><i class="fa fa-pencil fa-primary"></i>&nbsp;Edit
                </a>
              </li>
            {% endif %}
            {% if can_user_update_game_rosters %}
              <li>
                <a
                  id="update-game-rosters-{{ game.pk }}"
                  href="{% url 'sports:games:rosters:update' slug=sport.slug game_pk=game.pk %}"
                >
                  <i class="fa fa-wrench fa-primary"></i>&nbsp;Edit Game Rosters
                </a>
              </li>
            {% endif %}
          </ul>
        </div>
      </td>
    </tr>
  {% endfor %}
  </tbody>
</table>
