{% extends 'site_base.html' %}
{% load booltojson from utils %}

{% block title %}Games for {{ team.name }} - {{ team.division.name }}{% endblock %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3>Games for {{ team.name }}</h3>
          <h4>{{ team.division.name }} - {{ team.division.league.abbreviated_name }}</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">

        <div class="text-center js-loading">
          <br>
          {% include 'includes/loading.html' %}
        </div>

        {# Hide the table and show a loading icon while datatables is being initialized #}
        <div class="text-center hidden js-table-section">
          {% if can_create_game %}
            <span class="pull-right mt5">
              <a id="create-game-btn" href="{% url 'teams:games:create' team.pk %}" class="btn btn-sm btn-default">
                <i class="fa fa-plus-circle fa-success"></i>&nbsp;Game
              </a>
            </span>
          {% endif %}
          {% include 'games/_games_table.html' with games=games team_ids_managed_by_user=team_ids_managed_by_user is_scorekeeper=is_scorekeeper %}
        </div>
      </div>
    </div>

  </div>
{% endblock %}

{% block extra_js %}
  <script>
    $(function () {
      var hasGames = {{ has_games|booltojson }};
      $('.js-table').enableDataTable({
        // Initially sort by game start. If add/remove columns need to update the column index.
        order: [[6, 'desc']],
        language: {
          searchPlaceholder: 'Search games',
          zeroRecords: 'No games match your search criteria.',
          emptyTable: 'There are no games for {{ team.name }} at this time.'
        },
        paging: hasGames,
        searching: hasGames,
        initComplete: function () {
          $('.js-loading').remove();
          $('.js-table-section').removeClass('hidden');
        }
      });
    });
  </script>
{% endblock %}
