{% extends 'site_base.html' %}

{% block title %}Games for {{ team.name }} - {{ team.division.name }}{% endblock %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3>Games for {{ team.name }}</h3>
          <h4>{{ team.division.name }} - {{ team.division.league.abbreviated_name }}</h4>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          {% if games %}

            {% if can_create_game %}
              <span class="pull-right mt5">
                <a id="create-game-btn" href="{% url 'teams:games:create' team.pk %}" class="btn btn-sm btn-success">
                  <i class="fa fa-plus-circle fa-white"></i>
                  Game
                </a>
              </span>
            {% endif %}

            <table class="table js-table responsive-table table-thin-th-border">
              <thead>
              <tr>
                <th scope="col">Home Team</th>
                <th scope="col">Away Team</th>
                <th scope="col">Type</th>
                <th scope="col">Status</th>
                <th scope="col">Location</th>
                <th scope="col">Game Start</th>
                <th scope="col">Game End</th>
                <th scope="col">Season</th>
              </tr>
              </thead>
              <tbody>
              {% for game in games %}
                <tr>
                  <td data-title="Home Team">{{ game.home_team }} </td>
                  <td data-title="Away Team">{{ game.away_team }}</td>
                  <td data-title="Type">{{ game.type }}</td>
                  <td data-title="Status">{{ game.get_status_display }}</td>
                  <td data-title="Location">
                    <a href="{% url 'locations:detail' game.location.slug %}">{{ game.location.name }}</a>
                  </td>
                  <td data-title="Game Start">{{ game.start_formatted }}</td>
                  <td data-title="Game End">{{ game.end_formatted }}</td>
                  <td data-title="Season">{{ game.season }}</td>
                </tr>
              {% endfor %}
              </tbody>
            </table>
          {% else %}
            <br><br>
            <h3>There are no games for this team.</h3>
            {% if can_create_game %}
              <a id="create-game-btn-empty-state" href="{% url 'teams:games:create' team.pk %}"
                 class="btn btn-sm btn-success">
                <i class="fa fa-plus-circle fa-white"></i>
                Game
              </a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>

  </div>
{% endblock %}

{% block extra_js %}
  <script>
    $(function () {
      {% if games %}
        $(".js-table").DataTable({
          dom: '<"pull-left"f>tpr',
          order: [[7, 'desc'], [5, 'desc']],
          pageLength: 10,
          language: {
            paginate: {
              previous: '<i class="fa fa-angle-double-left"></i>',
              next: '<i class="fa fa-angle-double-right"></i>'
            },
            search: "",
            searchPlaceholder: 'Search games',
            zeroRecords: "No games match your search criteria."
          }
        });
      {% endif %}
    });
  </script>
{% endblock %}
