{% extends 'site_base.html' %}
{% load crispy_forms_tags thumbnail %}
{% load render_bundle from webpack_loader %}
{% load booltojson from utils %}

{% block title %}Update Game Rosters{% endblock %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3>Update Game Rosters</h3>
        </div>
      </div>
    </div>

    <div id="game-roster-container"></div>

  </div>
{% endblock %}

{% block extra_js %}
  {% render_bundle 'commons' 'js' %}
  {% render_bundle 'gameRosters' 'js' %}
  <script>
    $(function () {
      var options = {
        container: 'game-roster-container',
        gameId: {{ game.id }},
        sportId: {{ sport.id }},
        seasonId: {{ game.season.id }},
        homeTeamId: {{ home_team.id }},
        homeTeamName: '{{ home_team_name }}',
        awayTeamId: {{ away_team.id }},
        awayTeamName: '{{ away_team_name }}',
        canUpdateHomeTeamRoster: {{ can_update_home_team_roster|booltojson }},
        canUpdateAwayTeamRoster: {{ can_update_away_team_roster|booltojson }}
      };
      {% if home_team.logo %}
        {% thumbnail home_team.logo 'sm' as home_team_thumb %}
        options.homeTeamLogo = '{{ home_team_thumb|data_uri }}';
      {% endif %}
      {% if away_team.logo %}
        {% thumbnail away_team.logo 'sm' as away_team_thumb %}
        options.awayTeamLogo = '{{ away_team_thumb|data_uri }}';
      {% endif %}
      App.initGameRostersUpdateComponent(options);
    });
  </script>
{% endblock %}
