{% extends 'site_base.html' %}
{% load crispy_forms_tags ess_utils %}
{% load render_bundle from webpack_loader %}

{% block title %}Update Game Rosters{% endblock %}

{% block content %}
  <div class="container">

    <div class="row">
      <div class="col-md-12">
        <div class="text-center">
          <h3>Update Game Rosters</h3>
        </div>
      </div>
    </div>

    <div id="game-roster-container"></div>

  </div>
{% endblock %}

{% block extra_js %}
  {% render_bundle 'vendor' 'js' %}
  {% render_bundle 'gameRosters' 'js' %}
  <script>
    $(function () {
      App.initGameRostersUpdateComponent({
        container: 'game-roster-container',
        gameId: {{ game.id }},
        sportId: {{ sport.id }},
        seasonId: {{ game.season.id }},
        homeTeamId: {{ home_team.id }},
        awayTeamId: {{ away_team.id }},
        homeTeamName: '{{ home_team_name }}',
        awayTeamName: '{{ away_team_name }}',
        canUpdateHomeTeamRoster: {{ can_update_home_team_roster|booltojson }},
        canUpdateAwayTeamRoster: {{ can_update_away_team_roster|booltojson }}
      });
    });
  </script>
{% endblock %}
