<div>
  <p class="text-center text-muted small">
    You are an administrator for the organizations below
  </p>
  <table class="table responsive-table table-thin-th-border">

    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col"># of Teams</th>
    </tr>
    </thead>

    <tbody>
    {% for organization in organizations %}
      <tr>
        <td data-title="Name"><a href="{% url 'organizations:detail' pk=organization.pk %}">{{ organization.name }}</a></td>
        <td data-title="# of Teams">{{ organization.teams.all|length }}</td>
      </tr>
    {% endfor %}
    </tbody>

  </table>
</div>
